@import "compass";
@import "variables.scss";

body {
  font-size: 20px;
  font-family: $freight;
  font-weight: $book;
  color: $dark-blue;
  margin-top: 0;
  line-height: 1.3285714;
}

.banner {
  padding: 12px 0;
}

.main-content {
  font-size: 1.2em;
  ul {
    margin: $list-margin;
  }
  ul ul,
  ul ol {
    margin-top: 0;
  }
}

.content-margin-left {
  margin-left: 50px;
}

h1, h2, h3, h4, h5, strong {
  font-weight: normal;
}

.main-content h2:first-child,
.main-content h3:first-child {
  margin-top: 0;
}

strong, a {
  font-weight: $semi;
}

p {
  margin: $paragraph-margin;
}

a {
  color: $orange;
  word-wrap: break-word;
}

h1 {
  font-family: $freight-con;
  font-weight: $book;
  font-size: 2.7em;
  letter-spacing: -0.02em;
}

.faculty .field--label,
h2 {
  font-family: $freight;
  font-weight: $semi;
  color: $green;
  font-size: $h2-size-lg;
}

h2 {
  margin-top: 40px;
}

.page-title {
  margin-bottom: 10px;
}

.title-border {
  border-bottom: $dark-blue 2px solid;
}

.navbar-color {
  background: $med-blue;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background: transparent;
  border: none;
}

.navbar-nav > li > a {
  padding: 20px 30px 23px 30px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li > a:focus {
  color: $navlink-link-color;
  background: none;
}

.navbar-default .navbar-nav > li a {
  font-family: $navlink-inactive-font;
  border-top: $med-blue 11px solid;
  border-bottom: $med-blue 4px solid;
}


.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a.is-active {
  font-family: $navlink-active-font;
  border-top: #fff 11px solid;
  border-bottom: $orange 4px solid;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li.active-trail a.active-trail,
.navbar-default .navbar-nav > li > a:focus {
  border-top: #fff 11px solid;
  border-bottom: $orange 4px solid;
}
/*
*/

.subnav {
  .navbar-nav {
  }
  li {
    float: none;
    }
  .navbar-nav > li > a {
    display: inline-block;
    font-family: $submenu-link-font;
    color: $submenu-link-color;
    line-height: 1.6;
    padding: 4px 20px 10px 20px;
    margin-bottom: 22px;
    border-left: #fff 5px solid;
    font-size: 0.9em;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li.active a,
  .navbar-nav > li.active a.is-active,
  .navbar-nav > li > a:focus {
    background: none;
    border-color: $orange;
  }
  .navbar-nav > li.active a,
  .navbar-nav > li.active a.is-active {
    font-family: $sinkin-med;
  }
  .dropdown.active {
    .dropdown-menu {
      display: block;
      font-size: 0.91em;
      background: none;
    }
    li a {
      white-space: normal;
    }
  }
  .navbar-nav {
    .dropdown-menu {
      position: relative;
      box-shadow: none;
      border: none;
      margin-left: 30px;
      margin-bottom: 10px;
      li > a {
        color: $orange;
        font-family: $sinkin-lt;
      }
    }
  }
  .navbar-nav > li.dropdown.active a {
    margin-bottom: 5px;
  }
}

.see-thru {
  background-color: rgba(255, 255, 255, 0.9);
}
.hero {
  img {
    width: 100%;
    background-size: cover;
  }
  .home-height img {
    height: 650px;
  }

  .inside-height img {
    height: 380px;
  }
  .home-hero {
    p {
      margin: 0;
    }
    .home-hero-text-container {
      margin-top: -160px;
      width: 100%;
      height: 160px
    }
    .carousel-caption {
      text-shadow: none;
    }
    .carousel-caption h1 {
      text-align: center;
      color: $dark-blue;
    }
    img.hero-1 {
      background-image: url("../images/home_hero.jpg");
    }
    img.hero-2 {
      background-image: url("../images/home_hero_2.jpg");
    }
    .green-bar {
      height: 65px;
      width: 100%;
      background: $lt-green;
    }

  }

  .about-hero img {
    background-image: url("../images/about_hero.jpg");
  }
  .faculty-hero img {
    background-image: url("../images/faculty_hero.jpg");
  }
  .courses-hero img {
    background-image: url("../images/courses_hero.jpg");
  }
  .training-hero img {
    background-image: url("../images/training_hero.jpg");
  }
  .seminars-hero img {
    background-image: url("../images/seminars_hero.jpg");
  }
  .contact-hero img {
    background-image: url("../images/contact_hero.jpg");
  }
}

.home-header-container {
  margin-bottom: 20px;
  .home-courses-header {
    top: -47px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.0em;
    font-family: $sinkin-lt;
  }
}

.home-left-col-padding {
  padding-left: 60px;
  margin-bottom: 30px;
}

.home-buttons p {
  text-align: center;
}

.social-media {
  background-image: url("../images/social_media_logos.gif");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.facebook {
  background-position: 100% 0;
}

.breadcrumb {
  background: none;
}

.breadcrumb-margin {
  margin: 0 0 0 35px;
}


/* VIEWS */

.views-field {
  margin: $paragraph-margin;
  .view-people-positions {
    .views-field {
      margin-bottom: 0;
    }
  }
}

.view-faculty {
  .views-row {
    margin: $paragraph-margin;
    .no-bio {
      font-weight: $semi;
    }
  }
  .views-field.views-field-field-has-bio {
    margin-bottom: 0;
  }
}

.view-syllabus-downloads.ui-widget,
.view-schedule.ui-widget {
  font-size: 100%;
  font-family: $freight;
  font-weight: $book;
}

.view-syllabus-downloads,
.view-schedule {
  .ui-state-default {
    background: none;
    border: none;
    a {
      color: $orange;
    }
  }
  .ui-corner-all,
  .ui-corner-top,
  .ui-corner-right,
  .ui-corner-bottom,
  .ui-corner-left {
    border: none;
  }
}

.inline-block {
  display: inline-block;
}

.btn-spacing {
  margin: 15px 0;
}

.center-text {
  text-align: center;
}

.views-field-field-dates-and-location {
  font-weight: $semi;
}

.faculty {
  .field--label {
    margin-top: 20px;
  }
  .field--name-field-image {
    float: left;
    margin: 7px 20px 5px 0;
  }
  .field--name-field-educational-and-profession  {
    table {
      width: 100% !important;
      td {
        vertical-align: top;
        padding: 5px 18px 6px 0;
      }
    }
  }
}

.faculty-disclosure {
  margin: 60px 0;
  padding: 15px 30px;
  font-style: italic;
  font-size: 0.8em;
  p {
    color: #000;
  }
  h2 {
    font-size: 1.1em;
    color: $dark-blue;
    margin-bottom: 7px;
  }
}

.paragraph {
  margin: $paragraph-margin;
  .field--name-field-heading {
    font-weight: $semi;
  }
}

.schedule-list.ui-accordion {
  .ui-accordion-header {
    font-size: 1.2em;
    .ui-accordion-header-icon {
      left: 0;
    }
  }
  .ui-accordion-icons {
    padding-left: $accordion-padding;
    padding-bottom: 10px;
  }
  .ui-accordion-content {
    padding-left: $accordion-padding;
    padding-top: 10px;
    color: $dark-blue;
  }
  .field--name-field-time-and-title-small {
    font-weight: $semi;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  .paragraph {
    margin-bottom: 30px;
  }
}

/* FORMS */

label, legend {
  font-weight: $semi;
}

legend, .btn,
.form-control {
  font-size: 1.0em;
}

.form-control {
  height: auto;
}

legend {
  color: $dark-blue;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
  margin-top: 10px;
}

.progress-marker {
  width: 34px;
  height: 34px;
  font-variant-numeric: lining-nums;
}

.file {
  margin: 12px 0;
}

#edit-primary-email-mail-1--description {
  font-size: 0.7em;
}

#webform-submission-pcep-application-node-134-add-form {
}

.webform-submission-form {
  .btn {
    padding: 10px 20px;
  }
  .form-item {
    margin: $paragraph-margin;
  }
  .webform-document-file {
    .description {
      font-size: 0.7em;
    }
  }
}


.panel-title {
  font-size: 0.9em;
  text-transform: uppercase;
}

.form-item {
  margin: $paragraph-margin;
}

.panel {
  margin: 30px 0;
}

/* GENERAL STYLES */

.main-content-margin {
  margin: 30px 0 0 0;
}

h1.landing {
  top: -111px;
  left: -14px;
  font-size: 3.0em;
  color: $med-blue;
  padding: 8px 66px 15px 30px;
}

.palcare-btn {
  background: $orange;
  color: #fff;
  padding: 10px 25px 11px 25px;
}

.palcare-btn:hover {
  color: $lt-orange;
  text-decoration: none;
}

.btn-full-width {
  text-align: center;
  display: block;
}

.callout {
  background: $offwhite;
  padding: 30px 40px 31px;
  margin: 28px 0;
}

.top-border {
  border-top: $med-blue 10px solid;
}

.callout-photos {
  color: #000;
  font-size: 0.8em;
  img {
    float: left;
    margin: 5px 20px 10px -40px;
  }
}

.about-callout {
}

.btn-primary {
  background: $med-blue;
}

.block-display {
  display: block;
}

.search-block {
  padding-top: 20px;
  .btn {
    font-size: 14px;
  }
  .btn-primary {
    background: #fff;
  }
  .glyphicon {
    color: $med-blue;
  }
  .form-control,
  .btn-primary {
    border-color: $med-blue;
  }
  .form-control {
    font-size: 14px;
  }
  input::placeholder {
    color: $med-blue;
  }
}

#edit-keys--description.help-block {
  position: absolute;
  left: 100000000px;
}

.footer {
  padding: 30px 0 50px;
}

.footer-border {
  border-top: $med-blue 16px solid;
}

.region-footer-right {
  float: right;
}

.footer-menu,
.footer-copyright {
  float: right;
  color: #000;
  font-size: 0.9em;
  li {
    float: left;
    list-style: none;
    border-left: #000 1px solid;
    padding: 0 10px;
  }
  li:first-child {
    border: none;
    padding-left: 0;
  }
  li:last-child {
    padding-right: 0;
  }
  li > a {
    padding: 0;
  }
  a {
    text-decoration: underline;
    color: #000;
    font-weight: $book;
  }
}

.footer-menu {
  ul {
    margin-bottom: 10px;
  }
  li > a:hover,
  li > a:focus,
  li.active > a {
    background: none;
  }
}

.footer-copyright {
  text-align: right;
  ul {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
  }
  ul:after {
    content: "";
    display: block;
    clear: both;
  }
}

.absolute {
  position: absolute;
}

/* large breakpoint */
@media(min-width: 992px) and (max-width: 1199px) {
}

@media(min-width: 1199px) {
  .carousel-caption {
    right: 10%;
    left: 10%;
  }
}

/* medium breakpoint */
@media(min-width: 768px) and (max-width: 991px) {
  .navbar-default {
    .navbar-nav > li > a {
      padding: 15px 25px 20px;
      font-size: 0.95em;
    }
  }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li.active > a,
  .navbar-default .navbar-nav > li > a.is-active {
    border-top-width: 9px;
  }

  .content-margin-left {
    margin-left: 20px;
  }

  .subnav {
    .navbar-nav > li > a {
      font-size: 0.8em;
      margin-bottom: 10px;
      padding: 3px 20px 8px 16px;
    }
    .dropdown.active {
      .dropdown-menu {
        font-size: 0.77em;
      }
    }
    .navbar-nav {
      .dropdown-menu {
        margin-left: 18px;
        margin-bottom: 3px;
      }
    }
  }
  .footer-copyright {
    float: none;
  }
}


@media(max-width: 767px) {
  .navbar-default {
    border-bottom: $med-blue 2px solid;
  }
  .navbar-collapse {
    background: #fff;
  }
  .navbar-default .navbar-nav > li a {
    padding-left: 20px;
    border: none;
  }
  .navbar-default .navbar-nav > li.expanded.active > a {
    padding-bottom: 5px;
  }
  .navbar-default .navbar-nav > li a,
  .navbar-default .navbar-nav > li a:hover,
  .navbar-default .navbar-nav > li a:focus {
    color: $submenu-link-color;
    background: none;
    border: 0;
    text-decoration: none;
  }

  .navbar-default .navbar-nav > li.active a,
  .navbar-default .navbar-nav > li.active a:hover,
  .navbar-default .navbar-nav > li.active a:focus,
  .navbar-default .navbar-nav > li a.is-active {
    font-family: $navlink-active-font;
  }

  .navbar-default {
    .navbar-toggle {
      border-color: #fff;
      border-radius: 0;
      padding: 9px;
      border-width: 2px;
      .icon-bar {
        background: #fff;
        border-radius: 0;
      }
    }
    .navbar-toggle:hover {
      background: #fff;
      .icon-bar {
        background: $med-blue;
      }
    }
    .dropdown-menu {
      float: none;
    }
  }

  .dropdown-menu {
    margin-left: 20px;
    box-shadow: none;
    border: 0;
    position: relative;
    display: block;
    padding-right: 10px;
    li {
      margin: 12px 0;
    }
    li > a {
      font-family: $submenu-link-font;
      color: $submenu-link-color;
      white-space: normal;
    }
    li > a:hover, li > a:focus, li.active a,
    li.active > a.is-active {
      background: none;
      color: $submenu-link-color;
    }
    li.active > a.is-active {
      font-weight: $semi;
    }
  }
  .content-margin-left {
    margin-left: 0;
  }
  h1 {
    font-size: 2.3em;
    line-height: 1.0em;
    margin-top: 10px;
  }
  .main-content {
    font-size: 1.1em;
  }
  .region-footer-right,
  .footer-logos,
  .footer-menu,
  .footer-copyright {
    float: none;
    text-align: center;
  }
  .footer-logos img,
  .footer-menu ul,
  .footer-copyright > * {
    display: inline-block;
  }
  .footer-logos {
    margin-bottom: 50px;
  }
}
