@import "compass";
@import "variables.scss";

body {
  font-size: 20px;
  font-family: $freight;
  font-weight: $book;
  color: $dark-blue;
  margin-top: 0;
  line-height: 1.3285714;
}

.banner {
  padding: 12px 0;
}

.main-content {
  font-size: 1.2em;
}

.content-margin-left {
  margin-left: 50px;
}

h1, h2, h3, h4, h5, strong {
  font-weight: normal;
}

.main-content h2:first-child,
.main-content h3:first-child {
  margin-top: 0;
}

strong, a {
  font-weight: $semi;
}

p {
  margin: 0 0 25px;
}

a {
  color: $orange;
  word-wrap: break-word;
}

h1 {
  font-family: $freight-con;
  font-weight: $book;
  font-size: 2.7em;
  letter-spacing: -0.02em;
}

h2 {
  font-family: $freight;
  font-weight: $semi;
  color: $green;
  margin-top: 40px;
}

.page-title {
  border-bottom: $dark-blue 2px solid;
  margin-bottom: 40px;
}

.navbar-color {
  background: $med-blue;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background: transparent;
  border: none;
}

.navbar-nav > li > a {
  padding: 20px 30px 23px 30px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li > a:focus {
  color: $navlink-link-color;
  background: none;
}

.navbar-default .navbar-nav > li > a {
  font-family: $navlink-inactive-font;
  border-top: $med-blue 11px solid;
  border-bottom: $med-blue 4px solid;
}


.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a.is-active {
  font-family: $navlink-active-font;
  border-top: #fff 11px solid;
  border-bottom: $orange 4px solid;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li.active-trail a.active-trail,
.navbar-default .navbar-nav > li > a:focus {
  border-top: #fff 11px solid;
  border-bottom: $orange 4px solid;
}
/*
*/

.subnav {
  .navbar-nav {
  }
  li {
    float: none;
    }
  .navbar-nav > li > a {
    font-family: $submenu-link-font;
    color: $submenu-link-color;
    line-height: 1.6;
    padding: 4px 20px 10px 20px;
    margin-bottom: 22px;
    border-left: #fff 5px solid;
    font-size: 0.9em;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li.active a,
  .navbar-nav > li.active a.is-active,
  .navbar-nav > li > a:focus {
    background: none;
    border-color: $orange;
  }
  .navbar-nav > li.active a,
  .navbar-nav > li.active a.is-active {
    font-family: $sinkin-med;
  }
  .dropdown.active {
    .dropdown-menu {
      display: block;
      font-size: 0.91em;
      background: none;
    }
    li a {
      white-space: normal;
    }
  }
  .navbar-nav {
    .dropdown-menu {
      position: relative;
      box-shadow: none;
      border: none;
      margin-left: 30px;
      margin-bottom: 10px;
      li > a {
        color: $orange;
        font-family: $sinkin-lt;
      }
    }
  }
  .navbar-nav > li.dropdown.active a {
    margin-bottom: 5px;
  }
}

.hero {
  img {
    width: 100%;
    background-size: cover;
  }
  .home-height img {
    height: 650px;
  }

  .inside-height img {
    height: 380px;
  }
  .home-hero img {
    background-image: url("../images/home_hero.jpg");
  }

  .about-hero img {
    background-image: url("../images/about_hero.jpg");
  }
}

.footer {
  padding: 30px 0 50px;
}

.footer-border {
  border-top: $med-blue 16px solid;
}

.region-footer-right {
  float: right;
}

.footer-menu,
.footer-copyright {
  float: right;
  color: #000;
  font-size: 0.9em;
  li {
    float: left;
    list-style: none;
    border-left: #000 1px solid;
    padding: 0 10px;
  }
  li:first-child {
    border: none;
    padding-left: 0;
  }
  li:last-child {
    padding-right: 0;
  }
  li > a {
    padding: 0;
  }
  a {
    text-decoration: underline;
    color: #000;
    font-weight: $book;
  }
}

.footer-menu {
  ul {
    margin-bottom: 10px;
  }
  li > a:hover,
  li > a:focus,
  li.active > a {
    background: none;
  }
}

.footer-copyright {
  text-align: right;
  ul {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
  }
  ul:after {
    content: "";
    display: block;
    clear: both;
  }
}

/* large breakpoint */
@media(min-width: 992px) and (max-width: 1199px) {
}

/* medium breakpoint */
@media(min-width: 768px) and (max-width: 991px) {
  .navbar-default {
    .navbar-nav > li > a {
      padding: 15px 25px 20px;
      font-size: 0.95em;
    }
  }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li.active > a,
  .navbar-default .navbar-nav > li > a.is-active {
    border-top-width: 9px;
  }

  .content-margin-left {
    margin-left: 20px;
  }

  .subnav {
    .navbar-nav > li > a {
      font-size: 0.8em;
      margin-bottom: 10px;
      padding: 3px 20px 8px 16px;
    }
    .dropdown.active {
      .dropdown-menu {
        font-size: 0.77em;
      }
    }
    .navbar-nav {
      .dropdown-menu {
        margin-left: 18px;
        margin-bottom: 3px;
      }
    }
  }
  .footer-copyright {
    float: none;
  }
}


@media(max-width: 767px) {
  .navbar-default {
    border-bottom: $med-blue 2px solid;
  }
  .navbar-collapse {
    background: #fff;
  }
  .navbar-default .navbar-nav > li > a {
    padding-left: 20px;
  }
  .navbar-default .navbar-nav > li.expanded.active > a {
    padding-bottom: 5px;
  }
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li.active > a,
  .navbar-default .navbar-nav > li.active > a:hover,
  .navbar-default .navbar-nav > li.active > a:focus,
  .navbar-default .navbar-nav > li > a:focus {
    color: $submenu-link-color;
    background: none;
    border: 0;
  }

  .dropdown-menu {
    margin-left: 20px;
    box-shadow: none;
    border: 0;
    position: relative;
    display: block;
    padding-right: 10px;
    li {
      margin: 12px 0;
    }
    li > a {
      font-family: $submenu-link-font;
      color: $submenu-link-color;
      white-space: normal;
    }
    li > a:hover, li > a:focus, li.active a,
    li.active > a.is-active {
      background: none;
      color: $submenu-link-color;
    }
    li.active > a.is-active {
      font-weight: $semi;
    }
  }
  .content-margin-left {
    margin-left: 0;
  }
  h1 {
    font-size: 2.3em;
    line-height: 1.0em;
    margin-top: 10px;
  }
  .main-content {
    font-size: 1.1em;
  }
  .region-footer-right,
  .footer-logos,
  .footer-menu,
  .footer-copyright {
    float: none;
    text-align: center;
  }
  .footer-logos img,
  .footer-menu ul,
  .footer-copyright > * {
    display: inline-block;
  }
  .footer-logos {
    margin-bottom: 50px;
  }
}
