@import "fonts.scss";

/* colors */
$dark-blue: #005278;
$med-blue: #3888A6;
$lt-green: #618D54;
$green: #42792C;
$orange: #E3705C;
$lt-orange: #F2CDC7;
$offwhite: #FDF9ED;

/* Typekit fonts */
$freight: "freight-sans-pro";
$freight-con: "freight-sans-condensed-pro";
$korolev: "korolev-condensed";
$ministry: "ministry";
$raleway: "raleway";
$lt: 300;
$book: 400;
$med: 500;
$semi: 600;
$bold: 700;

/* Embedded fonts */
$sinkin-exlt: "sinkin_sans200_x_light";
$sinkin-lt: "sinkin_sans300_light";
$sinkin-reg: "sinkin_sans400_regular";
$sinkin-med: "sinkin_sans500_medium";
$sinkin-semi: "sinkin_sans600_semibold";
$sinkin-bold: "sinkin_sans700_bold";

/* Nav */
$navlink-inactive-font: $sinkin-exlt;
$navlink-active-font: $sinkin-reg;
$navlink-link-color: #fff;

/* Subnav */
$submenu-link-font: $sinkin-reg;
$submenu-link-color: $orange;

/* General formatting */
$main-font-size-lg: 1.1em;
$faculty-table-cell-width-lg: 120px;
$h1-size-lg: 2.3em;
$h2-size-lg: 30px;
$h3-size-lg: 1.2em;
$h4-size-lg: 1.0em;
$paragraph-margin-lg: 0 0 25px 0; 
$list-margin-lg: -18px 0 25px 30px;
$list-margin-normalize: 0;
$accordion-padding: 23px;
$hero-img-ht-lg: 550px;
$hero-txt-ht-lg: 130px;
$hero-txt-margin-lg: -130px;

/* SM */
$h2-size-sm: 28px;
$hero-img-ht-sm: 300px;
$hero-txt-ht-sm: 80px;
$hero-txt-margin-sm: -80px;
$hero-txt-h1-size-sm: 1.8em;

/* XS */
$h1-size-xs: 2.1em;
$h3-size-xs: 1.05em;
$paragraph-margin-xs: 0 0 18px 0; 
$hero-img-ht-xs: 150px;
$hero-txt-ht-xs: 50px;
$hero-txt-h1-size-xs: 1.0em;
$list-margin-xs: -18px 0 25px 10px;
