@import "fonts.scss";

/* colors */
$dark-blue: #005278;
$med-blue: #3888A6;
$green: #2F5B1E;
$orange: #E3705C;

/* Typekit fonts */
$freight: "freight-sans-pro";
$freight-con: "freight-sans-condensed-pro";
$korolev: "korolev-condensed";
$ministry: "ministry";
$raleway: "raleway";
$lt: 300;
$book: 400;
$med: 500;
$semi: 600;
$bold: 700;

/* Embedded fonts */
$sinkin-lt: "sinkin_sans300_light";
$sinkin-med: "sinkin_sans500_medium";
$sinkin-semi: "sinkin_sans600_semibold";
$sinkin-bold: "sinkin_sans700_bold";

/* Nav */
$navlink-inactive-font: $sinkin-lt;
$navlink-active-font: $sinkin-semi;
$navlink-link-color: #fff;

/* Subnav */
$submenu-link-font: $sinkin-med;
$submenu-link-color: $orange;
